code/Microsoft Azure Reference/GetManyItems/Source Code.txt
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "actions": {
                    "Execute_a_SQL_query_(V2)": {
                        "inputs": {
                            "body": {
                                "query": "SELECT * FROM Items WHERE ItemID='@{items('For_each')?['id']}'"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['sql']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('campusfood.database.windows.net'))},@{encodeURIComponent(encodeURIComponent('CampusFood'))}/query/sql"
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    },
                    "For_each_2": {
                        "actions": {
                            "Append_to_array_variable": {
                                "inputs": {
                                    "name": "Items",
                                    "value": "@items('For_each_2')"
                                },
                                "runAfter": {},
                                "type": "AppendToArrayVariable"
                            }
                        },
                        "foreach": "@body('Parse_JSON')?['ResultSets']?['Table1']",
                        "runAfter": {
                            "Parse_JSON": [
                                "Succeeded"
                            ]
                        },
                        "type": "Foreach"
                    },
                    "Parse_JSON": {
                        "inputs": {
                            "content": "@body('Execute_a_SQL_query_(V2)')",
                            "schema": {
                                "properties": {
                                    "OutputParameters": {
                                        "properties": {},
                                        "type": "object"
                                    },
                                    "ResultSets": {
                                        "properties": {
                                            "Table1": {
                                                "items": {
                                                    "properties": {
                                                        "AllergenMatrix": {
                                                            "type": "integer"
                                                        },
                                                        "CategoryID": {
                                                            "type": "string"
                                                        },
                                                        "Description": {
                                                            "type": "string"
                                                        },
                                                        "ItemID": {
                                                            "type": "string"
                                                        },
                                                        "ListOrder": {
                                                            "type": "integer"
                                                        },
                                                        "LocationID": {
                                                            "type": "string"
                                                        },
                                                        "Name": {
                                                            "type": "string"
                                                        },
                                                        "Price": {
                                                            "type": "number"
                                                        }
                                                    },
                                                    "required": [
                                                        "ItemID",
                                                        "Name",
                                                        "Description",
                                                        "CategoryID",
                                                        "LocationID",
                                                        "Price",
                                                        "ListOrder",
                                                        "AllergenMatrix"
                                                    ],
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "runAfter": {
                            "Execute_a_SQL_query_(V2)": [
                                "Succeeded"
                            ]
                        },
                        "type": "ParseJson"
                    }
                },
                "foreach": "@triggerBody()?['items']",
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "Items",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Response": {
                "inputs": {
                    "body": "@variables('Items')",
                    "statusCode": 200
                },
                "kind": "Http",
                "runAfter": {
                    "For_each": [
                        "Succeeded"
                    ]
                },
                "type": "Response"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "manual": {
                "inputs": {
                    "method": "POST",
                    "schema": {
                        "properties": {
                            "items": {
                                "items": {
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "id"
                                    ],
                                    "type": "object"
                                },
                                "type": "array"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "sql": {
                    "connectionId": "/subscriptions/9a1e5ebb-2d4c-49be-ba77-8bdd414e611a/resourceGroups/co4015_jdb50/providers/Microsoft.Web/connections/sql-1",
                    "connectionName": "sql-1",
                    "id": "/subscriptions/9a1e5ebb-2d4c-49be-ba77-8bdd414e611a/providers/Microsoft.Web/locations/uksouth/managedApis/sql"
                }
            }
        }
    }
}