code/Microsoft Azure Reference/OrderCheckIn/Source Code.txt
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Execute_a_SQL_query_(V2)": {
                "inputs": {
                    "body": {
                        "query": "SELECT Verify FROM Location A INNER JOIN Campus B ON A.CampusID=B.CampusID WHERE A.Name='@{triggerBody()?['location']}' AND B.CampusName='@{triggerBody()?['campus']}'"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['sql']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('campusfood.database.windows.net'))},@{encodeURIComponent(encodeURIComponent('CampusFood'))}/query/sql"
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "Execute_a_SQL_query_(V2)_3": {
                "inputs": {
                    "body": {
                        "query": "SELECT CheckedIn FROM Orders WHERE OrderID='@{triggerBody()?['order']}'"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['sql']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('campusfood.database.windows.net'))},@{encodeURIComponent(encodeURIComponent('CampusFood'))}/query/sql"
                },
                "runAfter": {
                    "For_each": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "For_each": {
                "actions": {
                    "Condition": {
                        "actions": {
                            "Execute_a_SQL_query_(V2)_2": {
                                "inputs": {
                                    "body": {
                                        "query": "UPDATE Orders SET CheckedIn=1 WHERE OrderID='@{triggerBody()?['order']}'"
                                    },
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['sql']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('campusfood.database.windows.net'))},@{encodeURIComponent(encodeURIComponent('CampusFood'))}/query/sql"
                                },
                                "runAfter": {},
                                "type": "ApiConnection"
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@items('For_each')?['Verify']",
                                        "@triggerBody()?['verify']"
                                    ]
                                }
                            ]
                        },
                        "runAfter": {},
                        "type": "If"
                    }
                },
                "foreach": "@body('Parse_JSON')?['ResultSets']?['Table1']",
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@body('Execute_a_SQL_query_(V2)')",
                    "schema": {
                        "properties": {
                            "ResultSets": {
                                "properties": {
                                    "Table1": {
                                        "items": {
                                            "properties": {
                                                "Verify": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "Verify"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Execute_a_SQL_query_(V2)": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Response": {
                "inputs": {
                    "body": "@body('Execute_a_SQL_query_(V2)_3')?['resultsets']",
                    "statusCode": 200
                },
                "kind": "Http",
                "runAfter": {
                    "Execute_a_SQL_query_(V2)_3": [
                        "Succeeded"
                    ]
                },
                "type": "Response"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "manual": {
                "inputs": {
                    "method": "POST",
                    "schema": {
                        "properties": {
                            "campus": {
                                "type": "string"
                            },
                            "location": {
                                "type": "string"
                            },
                            "order": {
                                "type": "string"
                            },
                            "verify": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "sql": {
                    "connectionId": "/subscriptions/9a1e5ebb-2d4c-49be-ba77-8bdd414e611a/resourceGroups/co4015_jdb50/providers/Microsoft.Web/connections/sql-1",
                    "connectionName": "sql-1",
                    "id": "/subscriptions/9a1e5ebb-2d4c-49be-ba77-8bdd414e611a/providers/Microsoft.Web/locations/uksouth/managedApis/sql"
                }
            }
        }
    }
}